<div class="container m-3">
  <h1><%= @list.name %></h1>
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-outline-secondary'%>

  <div class=“row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4”>
    <div class="cards m-3">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip mt-3">
          <p><%= image_tag bookmark.movie.poster_url, height: '400', width: 'cover' %></p>
          <div class="card-trip-infos">
            <div>
              <h2><%= bookmark.movie.title %></h2>
              <p>Overview : <%= bookmark.movie.overview %></p>
              <p>Comment : <%= bookmark.comment %></p>
            </div>
            <div>
              <h2 class="card-trip-pricing">Rating : <%= bookmark.movie.rating %></h2>
              <p><%= link_to '[X]', list_bookmark_path(@list, bookmark), class: 'btn btn-outline-secondary', data: { turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?" }%></p>
            </div>
          </div>
        </div>
       <% end %>
    </div>
  <%= link_to 'Back to lists', lists_path, class: 'btn btn-outline-secondary mt-3'%>
</div>
